.page {
    background-color: beige;
}

.title {
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#start {
    font-size: 25px;
    padding: 5px;
    background-color: pink;
    border-radius: 10px;
    width: 120px;
}

#start:hover {
    background-color: rgb(226, 143, 211);
}


.navbar {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.hidden {
    display: none;
}

#answer-a, #answer-b, #answer-c, #answer-d {
    font-size: 20px;
    padding: 5px;
    background-color: pink;
    border-radius: 10px;
    width: 250px;
    display: flex;
    display: inline;
    align-items: center;
}