.page {
    background-color: beige;
}

.title {
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#start {
    font-size: 25px;
    padding: 5px;
    background-color: pink;
    border-radius: 10px;
    width: 120px;
}

#start:hover {
    background-color: rgb(226, 143, 211);
}


.navbar {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

#timer-count {
    text-align: right;
    margin-top: -10px;
    font-size: 25px;
    padding-right: 10px;
}

#highscore {
    margin-top: -50px;
    font-size: 25px;
}

.hidden {
    display: none;
}

#answer-a, #answer-b, #answer-c, #answer-d {
    font-size: 20px;
    padding: 5px;
    background-color: pink;
    border-radius: 10px;
    width: 250px;
    display: flex;
    display: inline;
    align-items: center;
}

#answer-a:hover {
    background-color: rgb(226, 143, 211);
}
#answer-b:hover {
    background-color: rgb(226, 143, 211);
}
#answer-c:hover {
    background-color: rgb(226, 143, 211);
}
#answer-d:hover {
    background-color: rgb(226, 143, 211);
}

